body{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.btn{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 20%;
    margin: 0.7rem;
}

.red{
    background-color: #d95980;
}

.yellow{
    background-color: #f99b45;
}

.green{
    background-color: #63aac0;
}

.purple{
    background-color: #8119b9;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: green;
}